.about-section {
	// .about-section__container
	&__container {
	}
	// .about-section__body
	&__body {
		max-width: rem(1030);
	}
	// .about-section__title
	&__title {
		margin: 0px 0px rem(20) 0px;
		color: #000;
		@include adaptiv-value(font-size, 28, 22, 1);
		font-weight: 400;
		line-height: 128.571%;
	}
	// .about-section__content
	&__content {
		margin: 0px 0px rem(60) 0px;
	}
	// .about-section__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(24);
		margin: 0px 0px rem(60) 0px;
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .about-section__item
	&__item {
	}
}

//===============================================================
.press-section {
	// .press-section__container
	&__container {
	}
	// .press-section__main
	&__main {
		display: grid;
		gap: rem(20);
		max-width: rem(1030);
	}
	// .press-section__body
	&__body {
		max-width: rem(1030);
	}
	// .press-section__title
	&__title {
		color: var(--color-main);
		margin: 0px 0px rem(15) 0px;
	}
	// .press-section__info
	&__info {
		display: grid;
		gap: rem(5);
		color: #525253;
		font-size: rem(16);
		line-height: 125%;
		margin: 0px 0px rem(15) 0px;
	}
	// .press-section__date
	&__date {
	}
	// .press-section__author
	&__author {
	}
	// .press-section__content
	&__content {
	}
	// .press-section__back
	&__back {
		margin: rem(40) 0px rem(60);
	}
	// .press-section__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(24);
		margin: 0px 0px rem(60) 0px;
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .press-section__item
	&__item {
	}
}

//===============================================================
.press-spoiler {
	display: grid;
	gap: rem(20);
	margin: rem(40) rem(0) rem(20);
	// .press-spoiler__item
	&__item {
		background: #fff;
	}
	// .press-spoiler__control
	&__control {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		gap: rem(20);
		padding: rem(15) rem(30);
		color: var(--color-main);
		font-size: rem(18);
		text-align: left;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-second);
			}
		}
		&::before {
			rotate: 90deg;
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::before {
				scale: -1 1;
			}
		}
	}
	// .press-spoiler__container
	&__container {
	}
	// .press-spoiler__content
	&__content {
		padding: rem(5) rem(30) rem(15) rem(30);
	}
	// .press-spoiler__body
	&__body {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: rem(30);
		@media (max-width: em($md3)) {
			grid-template-columns: 1fr;
		}
	}
	// .press-spoiler__figure
	&__figure {
		max-width: rem(204);
		margin: 0 !important;
	}
	// .press-spoiler__text
	&__text {
		padding: 0px rem(30) 0px 0px;
	}
}

//===============================================================
.press-gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(23);
	margin: rem(40) 0px;
	@media (max-width: em($md4)) {
		grid-template-columns: repeat(1, 1fr);
	}
	// .press-gallery__item
	&__item {
		display: grid;
		gap: rem(5);
	}
	// .press-gallery__figure
	&__figure {
		margin: 0 !important;
	}
	// .press-gallery__image-wrapper
	&__image-wrapper {
		overflow: hidden;
		padding: 0px 0px prc(296, 503) 0px;
		position: relative;
		&::before {
			content: url('../img/scale.svg');
			position: absolute;
			bottom: 0;
			right: 0;
			width: rem(47);
			height: rem(47);
			z-index: 1;
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover::before {
				filter: hue-rotate(125deg);
			}
		}

		img {
			transition: all 0.5s ease 0s;
			scale: 1.001;
		}

		@media (any-hover: hover) {
			.press-gallery__item:hover & img {
				scale: 1.05;
			}
		}
	}
	// .press-gallery__text
	&__text {
		color: #525253;
		font-size: rem(14);
		font-weight: 300;
		margin: 0 !important;
	}
}

//===============================================================
.press-nav {
	display: flex;
	// .press-nav__links
	&__links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(10) rem(0);
	}
	// .press-nav__link
	&__link {
		display: inline-flex;
		padding: rem(5) rem(15) rem(3);
		justify-content: center;
		align-items: center;
		color: var(--color-main);
		font-size: rem(16);
		&._active {
			color: #fff;
			background: var(--color-main);
			pointer-events: none;
			span {
				border-color: transparent;
			}
		}
		span {
			display: inline-block;
			border-bottom: rem(1) dashed #7d98c2;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					border-bottom: rem(1) dashed var(--color-second);
				}
			}
		}
	}
	// .press-nav__archive
	&__archive {
	}
}

.press-archive {
	position: relative;
	// .press-archive__control
	&__control {
		display: inline-flex;
		flex-direction: row-reverse;
		gap: rem(5);
		height: 100%;
		padding: rem(5) rem(15) rem(3);
		justify-content: center;
		align-items: center;
		color: var(--color-main);
		font-size: rem(16);
		line-height: prc(26, 16);
		transition: all 0.3s ease 0s;
		&._selected {
			background: var(--color-main);
			color: #fff;
			span {
				border-color: transparent;
			}
		}
		&._active {
			background: #DBE3F6;
			&._selected {
				color: var(--color-main);
			}
			span {
				border-color: transparent;
			}
		}
		span {
			display: inline-block;
			border-bottom: rem(1) dashed #7d98c2;
			transition: all 0.3s ease 0s;
		}
		&::before {
			font-size: rem(6);
		}
	}
	// .press-archive__body
	&__body {
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		border: 0.5px solid #DBE3F6;
		background: #FFF;
		box-shadow: 0px 4px 4px 0px #DBE3F6;
		padding: rem(10) 0px;
		&._active {
			opacity: 1;
			visibility: visible;
		}
	}
	// .press-archive__list
	&__list {
	}
	// .press-archive__item
	&__item {
	}
	// .press-archive__link
	&__link {
		display: inline-block;
		width: 100%;
		color: var(--color-main);
		font-size: rem(16);
		padding: rem(5) rem(14);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #DBE3F6;
			}
		}
	}
}

//===============================================================
.press-list {
	display: grid;
	gap: rem(10);
	margin: 0px 0px rem(60) 0px;
	// .press-list__item
	&__item {
		padding: rem(20) rem(30);
		background: #fff;
		display: grid;
		gap: rem(8);
	}
	// .press-list__date
	&__date {
		color: rgba(0, 0, 0, 0.50);
		font-size: rem(16);
		
	}
	// .press-list__title
	&__title {
		a {
			color: var(--color-main);
		}
	}
}
