/* ===============================
=            Choices            =
=============================== */
.choices {
	position: relative;
	overflow: hidden;
	font-size: rem(16);
}
.choices:focus {
	outline: none;
}
.choices:last-child {
	margin-bottom: 0;
}
.choices.is-open {
	overflow: visible;
}
.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
	cursor: not-allowed;
	user-select: none;
}
.choices.is-disabled .choices__item {
	cursor: not-allowed;
}
.choices [hidden] {
	display: none !important;
}

.choices[data-type*=select-one] {
	cursor: pointer;
}
.choices[data-type*=select-one] .choices__input {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0;
	border-bottom: rem(1) solid #cccccc;
}
.choices[data-type*=select-one] .choices__button {
	position: absolute;
	right: rem(30);
	top: 50%;
	transform: translateY(-50%);
	height: rem(20);
	width: rem(20);
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: 100;
		top: 50%;
		right: calc(50% - rem(5));
		width: rem(10);
		height: rem(1);
		background: rgba(0, 0, 0, 0.5);
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}
.choices[data-type*=select-one] .choices__button:hover,
.choices[data-type*=select-one] .choices__button:focus {
	opacity: 1;
}
.choices[data-type*=select-one] .choices__button:focus {
	box-shadow: 0 0 0 2px #00bcd4;
}
.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
	display: none;
}
.choices[data-type*=select-one]::before {
	content: '';
	position: absolute;
	z-index: 4;
	right: rem(40);
	top: 50%;
	transform: translate(0, -50%);
	height: rem(25);
	width: rem(1);
	background: #cccccc;
}
.choices[data-type*=select-one]::after {
	content: "";
	height: 0;
	width: 0;
	border-style: solid;
	border-color: #aaaaaa transparent transparent transparent;
	border-width: rem(5);
	position: absolute;
	right: rem(15);
	top: 50%;
	margin-top: rem(-2.5);
	pointer-events: none;
}
.choices[data-type*=select-one].is-open::after {
	border-color: transparent transparent #aaaaaa transparent;
	margin-top: -7.5px;
}
.choices[data-type*=select-one][dir=rtl]::after {
	left: 11.5px;
	right: auto;
}
.choices[data-type*=select-one][dir=rtl] .choices__button {
	right: auto;
	left: 0;
	margin-left: 25px;
	margin-right: 0;
}

.choices[data-type*=select-multiple] .choices__inner {
	padding: rem(5) rem(10);
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=text] .choices__inner {
	cursor: text;
}
.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
	position: relative;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	margin: 0px 0px 0px rem(10);
	width: rem(20);
	height: rem(16);
	line-height: 1;
	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: 100;
		top: 50%;
		right: calc(50% - rem(10));
		width: rem(10);
		height: rem(1);
		background: #fff;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);
	}
}
.choices[data-type*=select-multiple] .choices__button:hover,
.choices[data-type*=select-multiple] .choices__button:focus,
.choices[data-type*=text] .choices__button:hover,
.choices[data-type*=text] .choices__button:focus {
	opacity: 1;
}

.choices__inner {
	display: inline-flex;
	gap: rem(10) rem(0);
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	background-color: #ffffff;
	padding: rem(5) rem(45) rem(5) rem(12);
	border: rem(1) solid #cccccc;
	border-radius: rem(4);
	font-size: rem(16);
	min-height: rem(43);
	overflow: hidden;
	&._error {
		border: rem(1) solid var(--color-error);
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23B81111'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23B81111' stroke='none'/%3E%3C/svg%3E");
		background-position: calc(100% - rem(50)), center;
		background-repeat: no-repeat;
		background-size: rem(18);
	}
	&._success {
		border: rem(1) solid var(--color-success);
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
		background-position: calc(100% - rem(50)), center;
		background-repeat: no-repeat;
		background-size: rem(18);
	}
}
.choices__list--single {
	display: inline-block;
	padding: 0px rem(16) 0px 0px;
	width: 100%;
}
[dir=rtl] .choices__list--single {
	padding-right: 4px;
	padding-left: 16px;
}
.choices__list--single .choices__item {
	width: 100%;
}

.choices__list--multiple {
	display: inline-flex;
	flex-wrap: wrap;
	gap: rem(3);
	align-items: center;
}

.choices__list--multiple .choices__item {
	&:last-child {
		margin: 0px rem(10) 0px 0px;
	}
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	padding: rem(3) rem(10);
	font-size: rem(12);
	background: var(--color-main);
	border: rem(1) solid var(--color-main-dark);
	border-radius: rem(3);
	color: #ffffff;
	white-space: nowrap;
}

.choices__list--multiple .choices__item.is-highlighted {
	background: var(--color-main-dark);
}
.is-disabled .choices__list--multiple .choices__item {
	background-color: #aaaaaa;
	border: 1px solid #919191;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
	visibility: hidden;
	z-index: 10;
	position: absolute;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 100%;
	margin-top: -1px;
	overflow: hidden;
	will-change: visibility;
}
.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
	visibility: visible;
}
.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
	border-color: #b7b7b7;
}
.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
	top: auto;
	bottom: 100%;
	margin-bottom: -1px;
}
.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
	position: relative;
	max-height: rem(300);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	will-change: scroll-position;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
	position: relative;
	padding: rem(5) rem(10);
	font-size: rem(14);
}
[dir=rtl] .choices__list--dropdown .choices__item,
[dir=rtl] .choices__list[aria-expanded] .choices__item {
	text-align: right;
}
@media (min-width: 640px) {
	.choices__list--dropdown .choices__item--selectable,
	.choices__list[aria-expanded] .choices__item--selectable {
		padding-right: rem(50);
	}
	.choices__list--dropdown .choices__item--selectable::after,
	.choices__list[aria-expanded] .choices__item--selectable::after {
		content: attr(data-select-text);
		font-size: rem(12);
		opacity: 0;
		position: absolute;
		right: rem(10);
		top: 50%;
		transform: translateY(-50%);
	}
	[dir=rtl] .choices__list--dropdown .choices__item--selectable,
	[dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
		text-align: right;
		padding-left: rem(100);
		padding-right: rem(10);
	}
	[dir=rtl] .choices__list--dropdown .choices__item--selectable::after,
	[dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
		right: auto;
		left: rem(10);
	}
}
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
	background-color: #f2f2f2;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
	opacity: 0.5;
}

.choices__item {
	cursor: default;
}

.choices__item--selectable {
	cursor: pointer;
}

.choices__item--disabled {
	cursor: not-allowed;
	user-select: none;
	opacity: 0.5;
}

.choices__heading {
	font-size: rem(16);
	padding: rem(5) rem(10);
	background: #f8f8f8;
	border-top: rem(1) solid #cccccc;
	border-bottom: rem(1) solid #cccccc;
	color: #000000;
	font-weight: 700;
}

.choices__button {
	text-indent: -9999px;
	appearance: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.choices__button:focus {
	outline: none;
}

.choices__input {
	display: inline-flex;
	font-size: rem(14);
	max-width: 100%;
}
.choices__input:focus {
	outline: 0;
}
.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
	display: none;
}
.choices__input::-ms-clear,
.choices__input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

.choices__placeholder {
	opacity: 0.5;
}

/* =====  End of Choices  ====== */