:root {
	--color-error:		#b81111;
	--color-warning:	#ffc107;
	--color-success:	#198754;
	--color-focus:		#26B9FF;

	--color-main-light: #81b7ff;
	--color-main: #003883;
	--color-main-dark: #001d42;

	--color-second-light: #e93e44;
	--color-second: #BD0007;
	--color-second-dark: #720004;
	
	--color-body-background: #F7F9FE;
	
	--color-font: #000000;

	--color-link: #000000;
	--color-link-hover: #BD0007;

	--color-titles: #000000;
}

//===============================================================

// Стилизация скроллбаров
@media (any-hover: hover) {
	::-webkit-scrollbar {
		width: px(10);
		height: px(10);
	}

	::-webkit-scrollbar-track {
		background: #eeeeee;
		box-shadow: 0 0 px(2) rgba(0, 0, 0, .2) inset;
	}

	::-webkit-scrollbar-thumb {
		background: var(--color-main-light);
		border-radius: px(5);
		border: px(2) solid #eeeeee;
		&:hover {
			background: var(--color-main);
		}
	}
}

//===============================================================

html {
}

body {
	color: var(--color-font);
	background: var(--color-body-background);
	font-size: rem(18);
	line-height: prc(26, 18);
	&._lock {
		overflow: hidden;
	}

	//---------------------------------------------------------------

	a {
		transition: all 0.3s ease 0s;
		color: var(--color-link);
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-link-hover);
			}
		}
	}

	//---------------------------------------------------------------

	.h1,
	h1 a,
	h1 {
		font-weight: 500;
		@include adaptiv-value(font-size, 44, 36, 1);
		font-size: rem(44);
		line-height: prc(44, 44);
		color: var(--color-titles);
	}
	.h2,
	h2 a,
	h2 {
		font-weight: 500;
		@include adaptiv-value(font-size, 36, 28, 1);
		line-height: prc(42, 36);
		color: var(--color-titles);
	}
	.h3,
	h3 a,
	h3 {
		font-weight: 500;
		@include adaptiv-value(font-size, 36, 28, 1);
		font-size: rem(36);
		line-height: prc(48, 36);
		color: var(--color-titles);
	}
	.h4,
	h4 a,
	h4 {
		font-weight: 500;
		@include adaptiv-value(font-size, 30, 24, 1);
		line-height: prc(38, 30);
		color: var(--color-titles);
	}
	.h5,
	h5 a,
	h5 {
		font-weight: 500;
		font-size: rem(18);
		line-height: prc(26, 18);
		color: var(--color-titles);
	}

	
	//---------------------------------------------------------------
	._special-styles {

		h1, h2, h3, h4, h5, h6 {
			margin: 0px 0px rem(20) 0px;
		}

		a {
			transition: all 0.3s ease 0s;
			color: var(--color-link);
			@media (any-hover: hover) {
				&:hover {
					color: var(--color-main-dark);
				}
			}
		}

		p {
			margin: 0px 0px rem(20) 0px;
		}

		figure {
			display: inline-block;
			margin: 0px 0px rem(20) 0px;
			img {
				border-radius: rem(5);
			}
		}

		ul {
			padding: 0px 0px 0px rem(22);
			margin: 0px 0px rem(10) 0px;
			li {
				position: relative;
				line-height: 150%;
				margin: 0px 0px rem(10) 0px;
				& > ul, & > ol {
					padding-top: rem(10);
				}
				&::before {
					content: '';
					position: absolute;
					top: em(9);
					left: em(-18);
					width: em(6);
					height: em(6);
					background: var(--color-main-dark);
					border-radius: 50%;
				}
			}
		}

		ol {
			padding: 0px 0px 0px rem(22);
			margin: 0px 0px rem(15) 0px;
			li {
				line-height: 150%;
				margin: 0px 0px rem(10) 0px;
				& > ul, & > ol {
					padding-top: rem(10);
				}
			}
		}

		table {
			max-width: 100%;
			border-collapse: collapse;
			margin: 0px 0px rem(40) 0px;
			@media (max-width: ($md3+'px')) {
				margin: 0px 0px rem(20) 0px;
			}
			tr{
				th{
					font-size: rem(16);
					font-weight: 400;
					background: #111111;
					padding: rem(5) rem(10);
					border: 1px solid #000000;
					color: #ffffff;
				}
				td {
					background: #dddddd;
					border: 1px solid #000000;
					padding: rem(5) rem(10);
				}
			}
		}

		.table-wrapper {
			width: 100%;
			overflow-x: auto;
		}
	}
}

// Оболочка контента сайта. Необходимма, чтобы футер всегда был прижат к низу экрана
.wrapper {
	display: grid;
	grid-template-rows: 1fr auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&._loaded {
	}
}

// Основной блок
.page {
	min-width: 0;
	// .page__section
	&__section {
		margin: 0px 0px rem(100) 0px;
	}
}




