.footer {
	background: var(--color-main);
	color: #fff;
	a {
		color: #fff !important;
		@media (any-hover: hover) {
			color: #fff !important;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		padding: rem(32) 0px;
		display: grid;
		grid-gap: rem(40);
	}
	// .footer__row
	&__row {
		// .footer__row_1
		&_1 {
			display: flex;
			align-items: center;
			gap: rem(20) rem(80);
			@media (max-width: em($md1)) {
				flex-direction: column;
				align-items: flex-start;
			}
		}
		// .footer__row_2
		&_2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .footer__logo
	&__logo {
	}
	// .footer__menu
	&__menu {
	}
	// .footer__socials
	&__socials {
	}
	// .footer__copy
	&__copy {
		font-size: rem(12);
	}
}

.footer-menu {
	// .footer-menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: rem(15) rem(32);
		@media (max-width: em($md2)) {
			flex-direction: column;
		}
	}
	// .footer-menu__item
	&__item {
	}
	// .footer-menu__link
	&__link {
		position: relative;
		color: #fff;
		white-space: nowrap;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: rem(2);
			background: #fff;
			bottom: rem(-5);
			left: 0;
			opacity: 0;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 0.7;
				}
			}
		}
	}
}