@font-face {
	font-family: "icons-system";
	src: url("../fonts/system-icons/icons-system.ttf") format("truetype"), url("../fonts/system-icons/icons-system.woff") format("woff"),
		url("../fonts/system-icons/icons-system.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "icons";
	src: url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"),
		url("../fonts/icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

%ic {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


[class^="_system-icon"],
[class*=" _system-icon"] {
	&:before {
		font-family: "icons-system";
		@extend %ic;
	}
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		font-family: "icons";
		@extend %ic;
	}
}




._icon-arrow-1:before {
  content: "\e900";
}
._icon-arrow-2:before {
  content: "\e901";
}
._icon-arrow-3:before {
  content: "\e902";
}
._icon-arrow-4:before {
  content: "\e903";
}
._icon-arrow-5:before {
  content: "\e904";
}
._icon-cross:before {
  content: "\e905";
}
._icon-doc:before {
  content: "\e907";
}
._icon-download:before {
  content: "\e908";
}
._icon-enter:before {
  content: "\e909";
}
._icon-mark:before {
  content: "\e90a";
}
._icon-search:before {
  content: "\e90b";
}
._icon-tg:before {
  content: "\e90c";
}
._icon-vk:before {
  content: "\e90d";
}
._icon-phone:before {
  content: "\e906";
}
