.info-section {
	// .info-section__container
	&__container {
	}
	// .info-section__body
	&__body {
		display: grid;
		gap: rem(24);
	}
	// .info-section__row
	&__row {
	}
}

//===============================================================
.info-row-1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(24);
	@media (max-width: em($md2)) {
		grid-template-columns: repeat(1, 1fr);
	}
	// .info-row-1__chart
	&__chart {
	}
	// .info-row-1__info
	&__info {
	}
}

//===============================================================
.results-info {
	display: grid;
	align-content: start;
	grid-gap: rem(20);
	// .results-info__head
	&__head {
		display: grid;
		grid-gap: rem(15);
	}
	// .results-info__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
	}
	// .results-info__files
	&__files {
		display: grid;
		gap: rem(15);
	}
	// .results-info__file
	&__file {
		display: flex;
		justify-content: space-between;
	}
	// .results-info__link
	&__link {
		color: var(--color-main);
		display: inline-flex;
		align-items: center;
		gap: rem(10);
	}
	// .results-info__file-data
	&__file-data {
		color: #9C9C9C;
	}
	// .results-info__footer
	&__footer {
	}
	// .results-info__btn
	&__btn {
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-second);
			}
		}
	}
}

//===============================================================
.info-row-2 {
	display: grid;
	gap: rem(24);
	grid-template-columns: 3fr 4fr;
	@media (max-width: em($md2)) {
		grid-template-columns: repeat(1, 1fr);
	}
	// .info-row-2__image-block
	&__image-block {
	}
	// .info-row-2__info
	&__info {
	}
}

//===============================================================
.image-block {
	color: #fff;
	min-height: rem(324);
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	padding: rem(15) rem(44);
	@media (max-width: em($md2)) {
		padding: rem(15) rem(30);
	}
	@media (max-width: em($md4)) {
		padding: rem(15) rem(20);
	}
	// .image-block__content
	&__content {
		position: relative;
		z-index: 1;
		display: grid;
		gap: rem(10);
	}
	// .image-block__title
	&__title {
		color: #fff;
		&:after {
			content: "\e900";
			font-family: "icons";
			@extend %ic;
			font-size: rem(20);
			padding: 0px 0px 0px rem(20);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			.image-block:hover &::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .image-block__info
	&__info {
		font-size: 24px;
		color: #fff;
	}
	// .image-block__figure
	&__figure {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//===============================================================
.calendar-info {
	display: grid;
	align-content: start;
	grid-gap: rem(20);
	// .calendar-info__head
	&__head {
		display: grid;
		grid-gap: rem(15);
	}
	// .calendar-info__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
	}
	// .calendar-info__list
	&__list {
		max-width: rem(550);
		display: grid;
		gap: rem(20);
	}
	// .calendar-info__item
	&__item {
		display: flex;
		align-items: flex-start;
		gap: rem(22);
	}
	// .calendar-info__date
	&__date {
		padding: rem(5) 0px 0px 0px;
		display: flex;
		align-items: flex-end;
		color: var(--color-main);
	}
	// .calendar-info__day
	&__day {
		font-size: rem(36);
		font-weight: 500;
		line-height: 1;
	}
	// .calendar-info__month
	&__month {
		font-weight: 500;
		line-height: 1;
		translate: 0 rem(-3);
		&::before {
			content: '\\';
		}
	}
	// .calendar-info__content
	&__content {
		display: grid;
		gap: rem(4);
	}
	// .calendar-info__label
	&__label {
		color: #000;
		font-size: rem(14);
	}
	// .calendar-info__link
	&__link {
		color: var(--color-main);
	}
}


//===============================================================
.info-row-3 {
	display: grid;
	gap: rem(24);
	grid-template-columns: 8fr 15fr;
	@media (max-width: em($md2)) {
		grid-template-columns: repeat(1, 1fr);
	}
	// .info-row-3__info
	&__info {
	}
	// .info-row-3__image-block
	&__image-block {
	}
}

//===============================================================
.links-info {
	display: grid;
	align-content: start;
	grid-gap: rem(20);
	// .links-info__head
	&__head {
		display: grid;
		grid-gap: rem(15);
	}
	// .links-info__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
	}
	// .links-info__list
	&__list {
		display: grid;
		gap: rem(15);
	}
	// .links-info__item
	&__item {
	}
	// .links-info__link
	&__link {
		color: var(--color-main);
	}
}

//===============================================================
.actions-chart {
	background: linear-gradient(180deg, #9DB7DA 0%, #3264A7 100%);
	padding: rem(30);
	border-top: rem(5) solid var(--color-main);
	display: grid;
	align-content: start;
	grid-gap: rem(20);
	color: #fff;
	@media (max-width: em($md4)) {
		padding: rem(20);
	}
	// .actions-chart__title
	&__title {
		@include adaptiv-value(font-size, 24, 20, 1);
		a {
			color: #fff !important;
		}
	}
	// .actions-chart__main
	&__main {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: rem(13);
	}
	// .actions-chart__chart
	&__chart {
	}
	// .actions-chart__values
	&__values {
		padding: rem(5) 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	// .actions-chart__value
	&__value {
		font-size: rem(12);
	}
	// .actions-chart__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
	}
	// .actions-chart__footer-left
	&__footer-left {
		display: grid;
		gap: rem(5);
	}
	// .actions-chart__name
	&__name {
		font-size: rem(24);
		font-weight: 500;
	}
	// .actions-chart__time
	&__time {
	}
	// .actions-chart__footer-right
	&__footer-right {
		display: grid;
		gap: rem(5);
	}
	// .actions-chart__cost
	&__cost {
		font-size: rem(24);
		font-weight: 500;
	}
	// .actions-chart__difference
	&__difference {
		display: flex;
		align-items: center;
		gap: rem(5);
		&::before {
			content: '';
			border: rem(6) solid transparent; 
			border-bottom: rem(8) solid #fff;
			translate: 0 rem(-2);
		}
	}
}
