.page-inner {
	// .page-inner__head
	&__head {
	}
	// .page-inner__section
	&__section {
		margin: 0px 0px rem(60) 0px;
	}
}

//===============================================================
.inner-section {
	// .inner-section__container
	&__container {
	}
	// .inner-section__body
	&__body {
		max-width: rem(1030);
	}
	// .inner-section__title
	&__title {
		margin: 0px 0px rem(20) 0px;
		color: #000;
		@include adaptiv-value(font-size, 28, 22, 1);
		font-weight: 400;
		line-height: 128.571%;
		// .inner-section__title_blue
		&_blue {
			color: var(--color-main);
			font-weight: 500;
		}
	}
	// .inner-section__content
	&__content {
		margin: 0px 0px rem(60) 0px;
	}
}

//===============================================================
.inner-head {
	// .inner-head__top
	&__top {
		position: relative;
		padding: rem(231) rem(0) rem(93);
		margin: 0px 0px rem(20) 0px;
		@media (max-width: em($md3)) {
			padding: rem(168) rem(0) rem(40);
		}
	}
	// .inner-head__container
	&__container {
	}
	// .inner-head__top-body
	&__top-body {
		text-align: center;
	}
	// .inner-head__title
	&__title {
		color: #fff;
	}
	// .inner-head__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	// .inner-head__bottom
	&__bottom {
		padding: rem(20) 0px;
	}
	// .inner-head__bottom-body
	&__bottom-body {
	}
}
