.vacancies-section {
	// .vacancies-section__container
	&__container {
	}
	// .vacancies-section__body
	&__body {
		max-width: rem(1029);
	}
}

//===============================================================
.vacancy {
	display: grid;
	gap: rem(25);
	// .vacancy__row
	&__row {
	}
	// .vacancy__title
	&__title {
	}
	// .vacancy__list
	&__list {
	}
	// .vacancy__link
	&__link {
		margin: 0px 0px rem(10) 0px;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--color-second);
			}
		}
	}
}